.offer-img img {
    width: 33%;
}
.offer-img {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

#deals {
    float: right; position: relative; right: 10px; top: 15px; width: 66%; height: 640px;
}

@media only screen and (max-width: 750px) {
    .offer-img img {
        width: 32%;
    }
}

@media only screen and (max-width: 1200px) {
    #deals {
        display: none;
    }
}