.best-of-ele-main {
    height: 350px;
    margin: 15px 7px 0 7px;
    width: 99%;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

.best-of-ele {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: -25%;
    transition: right 0.7s ease;
}

/* for food, beauty, toys and more  */

.best-of-beauty {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: -25%;
    transition: right 0.7s ease;
}

/* for food, beauty, toys and more end  */

/* for new arrival collection  */

.best-of-collection {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: -25%;
    transition: right 0.7s ease;
}

/* for new arrival collection end  */

/* for .best-of-home  */
.best-of-home {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: -25%;
    transition: right 0.7s ease;
}

/* for .best-of-home ends  */

/* your favorite brand deals  */

.best-of-deals {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: -25%;
    transition: right 0.7s ease;
}
/* your favorite brand deals  */

#heading-ele {
    margin-left: 10px;
    font-size: 1.5rem;
    padding-top: 1px;
}

.ele-product {
    border: 1px solid #e1e1e1;
    display: inline-block;
    /* padding: 0px 45px 30px 45px; */
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}

.ele-pro-text {
    display: block;
    padding-top: 5px;
}

.ele-pro-img {
    padding: 0 50px;
    height: 214px;
    width: 120px;
}


.ele-pro-img img {
    width: 120px;
    height: 210px;
}

.ele-pro-img img:hover {
    width: 125px;
    height: 215px;
    cursor: Hand;
}
#first-pro {
    position: relative;
}

#last-pro {
    position: relative;
}


/* monsson deals  */

.mon-deals {
    height: 640px;
    width: 32%;
    /* border: 1px solid red; */
    margin: 15px 0 0 5px;
    background-color: white;
    display: inline-block;
    /* position: relative; */
    /* top: -315px; */
}

.mon-pro {
    text-align: center;
    border: 1px solid #e1e1e1;
    display: inline-block;
    margin-top: 10px;
}

.mon-pro-img {
    padding: 0 50px;
}

.mon-pro-img img {
    height: 210px;
    width: 120px;
}

.mon-pro-img {
    height: 210px;
    width: 120px;
}

.mon-pro-img img:hover {
    height: 215px;
    width: 125px;
    cursor: hand;
}


#flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#btn-left {
    /* padding: 33px 15px; */
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 1;
}

#btn-right {
    /* padding: 33px 15px; */
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
}

/* beauty btn  */

#btn-left-beauty {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 1;
}

#btn-right-beauty {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
}

#btn-left-collection {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 1;
}

#btn-right-collection {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
}

#btn-left-home {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 1;
}

#btn-right-home {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
}

#btn-left-deals {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 1;
}

#btn-right-deals {
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1;
}

#ele-pro-explore {
    float: right; position: relative; top: 30px; right: 30px; font-size: 1.5rem;
}

.right-icon {
    display: none;
}     

@media screen and (max-width: 1200px) {
    #btn-right {
        display: none;
    }
    #btn-left {
        display: none;
    }
    #btn-right-beauty {
        display: none;
    }
    #btn-left-beauty {
        display: none;
    }
    #heading-ele {
        margin: 12px 0 12px 10px;
    }
    .best-of-ele {
        right: -52%;
    }
    .best-of-beauty {
        right: -52%;
    }
    #btn-right-collection {
        display: none;
    }
    .best-of-collection {
        right: -52%;
    }
    .best-of-ele-main {
        height: 290px;
        overflow: scroll;
        scrollbar-width: none;
    }
    .ele-product {
        height: 230px;
        width: 180px;
    }
    .ele-pro-img {
        height: 180px;
        width: 130px;
        padding: 0 25px;
    }
    .ele-pro-img img {
        height: 180px;
        width: 100px;
        padding-top: 5px;
    }
    .ele-pro-img img:hover {
        width: 100px;
        height: 180px;
        cursor: Hand;
    }
    #ele-pro-explore {
        top: 15px;
    }
    .mon-deals {
        display: block;
        width: 100%;
        height: 360px;
    }
    .mon-pro {
        width: 23%;
        height: 290px;
    }
    .mon-pro-img img {
        height: 230px;
        width: 165px;
    }
    .mon-pro-img {
        margin-bottom: 30px;
    }
    .mon-pro-img img:hover {
        height: 230px;
        width: 165px;
        cursor: hand;
    }

}

/* mobile */ 

@media only screen and (max-width: 750px) {
    .best-of-ele {
        flex-direction: column;
        right: 2%;
    }
    .best-of-beauty {
        right: 2%;
        flex-direction: column;
    }
    .best-of-collection {
        right: 2%;
        flex-direction: column;
    }
    .best-of-ele-main {
        height: 100vh;
        margin-left: 0;
        width: 100vw;
        margin-right: 0;
        overflow: unset;
        scrollbar-width: unset;
    }
    #heading-ele {
        margin: 20px 0 20px 10px;
    }
    #ele-pro-explore{
        margin-top: 14px;
    }
    .ele-product {
        border: none;
        height: auto;
        width: 96vw;
        margin-left: 0;
    }
    .ele-pro-img img {
        height: 65px;
        width: 50px;
    }
    .ele-pro-img {
        height: 65px;
        width: 50px;
        padding-left: 20px;
    }
    .pro-info {
        height: auto; 
        width: auto;  
        display: inline-block; 
        position: relative; 
        right: 50px;
        bottom: 50px;
        margin-left: 25px;
    }
    .right-icon {
        float: right;
        position: relative;
        bottom: 30px;
        right: 15px;
        display: inline;
    }
    .mon-deals {
        height: 680px;
        width: 100%;
    }
    .mon-pro {
        height: 50%;
        width: 45%;
    }
    .mon-pro-img img{
        height: 200px;
        width: 150px;
    }
    .mon-pro-img {
        padding: 0 25px 0 25px;
    }
}