.recommondation {
    height: 145px;
    margin: 7px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.recomm-img {
    height: 80%;
    width: 8%;
    text-align: center;
    margin: 0 10px;
}

.recomm-img img {
    margin-bottom: 10%;
}

.recomm-img a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* fashion & its dropdown */

#fashion-box {
    position: relative;
}

#fashion-dropdown {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 500px;
    left: 200px;
    margin-top: -10px;
    background-color: white;
}

#fashion-dropdown a {
    display: block;
    text-align: left;
    padding-left: 20px;
    width: 96%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#fashion-dropdown a:hover {
    background-color: #e9fbff;
}

#fashion-dropdown-1 {
    width: 232px;
    display: none;
    border-radius: 1rem;
    /* z-index: 1; */
}

#fashion-dropdown-2 {
    width: 232px;
    display: none;
    border-radius: 1rem;
    box-shadow: -5px 0 5px #999;
    /* z-index: 1; */
}

#fashion-dropdown-1 a {
    text-decoration: none;
    color: black;
}

#fashion-dropdown-2 a {
    text-decoration: none;
    color: black;
}


/* electronic & its dropdown */

#electronic-box {
    position: relative;
}

#electronic-box:hover #electronic-dropdown-1 {
    display: block;
}

#electronic-box:hover #electronic-dropdown-2 {
    display: block;
}

#electronic-dropdown {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 500px;
    right: 0;
    left: 330px;
    margin-top: -10px;
    background-color: white; 
}

#electronic-dropdown a {
    display: block;
    text-align: left;
    padding-left: 20px;
    width: 96%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#electronic-dropdown a:hover {
    background-color: #e9fbff;
}

#electronic-dropdown-1 {
    width: 232px;
    display: none;
    border-radius: 1rem;
}

#electronic-dropdown-2 {
    width: 232px;
    display: none;
    border-radius: 1rem;
    box-shadow: -5px 0 5px #999;
}

#electronic-dropdown-1 a {
    text-decoration: none;
    color: black;
}

#electronic-dropdown-2 a {
    text-decoration: none;
    color: black;
}



/* home, furniture & its dropdonw */

#home-furniture-box {
    position: relative;
    width: 130px;
}

#home-furniture-box:hover #home-furniture-dropdown-1 {
    display: block;
}

#home-furniture-box:hover #home-furniture-dropdown-2 {
    display: block;
}

#home-furniture-dropdown {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 464px;
    right: 0;
    left: 500px;
    margin-top: -10px;
    background-color: white; 
}

#home-furniture-dropdown a {
    display: block;
    text-align: left;
    padding-left: 20px;
    width: 96%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#home-furniture-dropdown a:hover {
    background-color: #e9fbff;
}

#home-furniture-dropdown-1 {
    width: 232px;
    display: none;
    border-radius: 1rem;
}

#home-furniture-dropdown-2 {
    width: 232px;
    display: none;
    border-radius: 1rem;
    box-shadow: -5px 0 5px #999;
}

#home-furniture-dropdown-1 a {
    text-decoration: none;
    color: black;
}

#home-furniture-dropdown-2 a {
    text-decoration: none;
    color: black;
}

/* beauty, toy & its dropdown */

#beauty-toy-box {
    position: relative;
    width: 140px;
}

#beauty-toy-box:hover #beauty-toy-dropdown-1 {
    display: block;
}

#beauty-toy-box:hover #beauty-toy-dropdown-2 {
    display: block;
}

#beauty-toy-dropdown {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 464px;
    right: 0;
    left: 930px;
    margin-top: -10px;
    background-color: white;
}

#beauty-toy-dropdown a {
    display: block;
    text-align: left;
    padding-left: 20px;
    width: 96%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#beauty-toy-dropdown a:hover {
    background-color: #e9fbff;
}

#beauty-toy-dropdown-1 {
    width: 232px;
    display: none;
    border-radius: 1rem;
}

#beauty-toy-dropdown-2 {
    width: 232px;
    display: none;
    border-radius: 1rem;
    box-shadow: -5px 0 5px #999;
}

#beauty-toy-dropdown-1 a {
    text-decoration: none;
    color: black;
}

#beauty-toy-dropdown-2 a {
    text-decoration: none;
    color: black;
}



/* wheelers & its dropdown */

#two-wheeler-box {
    position: relative;
}

#two-wheeler-box:hover #two-wheeler-dropdown {
    display: block;
}

#two-wheeler-dropdown a{
    display: block;
    width: 250px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 100;
}

#two-wheeler-dropdown a:hover {
    background-color: #e9fbff;
    font-weight: 500;
}

#two-wheeler-dropdown {
    background-color: white;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 1rem;
    display: none;
}


/* reponsiveness for tablet  */

@media only screen and (max-width: 1200px){
    .recomm-img {
        padding: 16px;
    }
    .recommondation {
        justify-content: space-evenly;
        overflow: auto;
        scrollbar-width: none;
    }
    #fashion-dropdown {
        left: 70px;
    }
    #electronic-dropdown {
        left: 200px;
    }
    #home-furniture-dropdown {
        left: 350px;
    }
}