body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
}
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    top: 1px;
}
.navbar-search{
    display: flex;
    width: 750px;
    height: 38px;
    background-color: #e5f5f5;
    opacity: 0.7;
    border-radius: 5px;
}
#search-icon{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: gray;
}
#nav-search {
    margin-left: 15px;
    margin-top: 3.5px;
    width: 100%;
    height: 80%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #e5f5f5;
    color: #444;
    outline: none;
    border: none;
}

#nav-search input[type="text"]:focus {
    outline: none;
}


/* login-box & drop-downs*/

#login-box {
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    border-radius: 1rem;
    padding-bottom: 5px;
}

#login-box:hover {
    background-color: blue;
    cursor: pointer;
}

#login-box:hover #login-dropdown {
    display: block;
}

#login-dropdown {
    position: absolute;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 1rem;
    z-index: 1;
    display: none;
    top: 50px;
}

#login-dropdown a {
    text-decoration: none;
    color: black;
    display: block;
    width: 250px;
    height: 40px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

#login-dropdown a:hover {
    background-color: #dddddd;
    
}


/* shopping-cart */

#shopping-cart {
    display: inline-block;
    padding: 9px;
    width: 75px;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 30px;
}

/* become-seller */

#become-seller {
    display: inline-block;
    font-size: 1.2rem;
    padding: 9px;
}

/* fa-ellipse-vertical */

#three-dot-box {
    position: relative;
    padding: 18px;
    display: inline-block;
}

#three-dot-box-dropdown a {
    text-decoration: none;
    color: black;
    display: block;
    width: 250px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

#three-dot-box-dropdown{
    position: absolute;
    z-index: 1;
    top: 1px;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: white;
    padding-left: 15px;
    padding-top: 10px;
    top: 40px;
    right: 0px;
    display: none;
}

#three-dot-box:hover #three-dot-box-dropdown {
    display: block;
}

#three-dot-box-dropdown a:hover {
    background-color: #dddddd;
}
.cart-text{
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seller-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 155px;
}
/* Responsive tablet */

@media only screen and (max-width:1200px) {
  .nav-text{
   display: none;
}
    #become-seller {
        padding-left: 0;
        padding-right: 0;
    }
    .seller-text {
        margin-right: 5px;
        width: 50px;
    }
    .three-dot {
        padding-left: 0;
        padding-right: 0;
        margin-left: -60px;
    }
    #shopping-cart {
        padding-left: 0;
        padding-right: 0;
    }
    .cart-text {
        margin-right: -30px;
    }
}

/* reponsive mobile  */

#bars {
    font-size: 25px;
    margin-left: 30px;
    display: none;
}

.download-app {
    display: none;
}

@media only screen and (max-width: 750px) {
    #bars {
        display: block;
    }
    .download-app {
        display: block;
    }
    .navbar-search {
        display: none;
    }
    #three-dot-box {
        display: none;
    }
    #become-seller {
        display: none;
    }
}